body {
    background-color: grey;
    margin:50px;
}

h1{
    color:rgb(6, 237, 253);
    font-size: 70px;
}

h2{
    color:black;
}


.bloco{
    width: fit-content;
    padding-left: 10px;
    margin-left:10px;
    margin-top: 10px;
    height: fit-content;
    border: 5px solid rgb(6, 237, 253);
    background-color: rgb(6, 237, 253);
    border-radius:20px;
}

.bloco:hover{
        box-shadow: 5px 5px black;
}

.subcaixasmat{
    border: 2px solid white;
    background-color: white;
    padding:5px;
    margin:3px;
    width: 130px;
    border-radius: 10px;
}

.subcaixascompar{
    border: 2px solid white;
    background-color: white;
    padding:5px;
    margin:3px;
    width: 300px;
    border-radius: 10px;
}

.subcaixasmat:hover{
    background-color: whitesmoke;
    font-size: 17px;
    font-weight:bold;
    border: 2px solid whitesmoke;
}

.subcaixascompar:hover{
    background-color: whitesmoke;
    font-size: 17px;
    font-weight:bold;
    border: 2px solid whitesmoke;
}

.chk{
    width: 50px;

}

#classblcomparar:hover{
    box-shadow: 5px 5px grey
}

.comparar{
    color:white;
    font-size: large;
    font-size: 125%;
}

#bluninter,#bludemy,#bllivros{
    display: inline-block;
}

#restatus, #resultado{
    display: inline-block;
}