body {
    background-color: grey;
    margin:50px;
}

h1{
    color:rgb(6, 237, 253);
    font-size: 70px;
}

h2{
    color:black;
}

.bloco{
    width: fit-content;
    padding-left: 10px;
    margin:5px;
    height: fit-content;
    border: 5px solid rgb(6, 237, 253);
    background-color: rgb(6, 237, 253);
    border-radius:20px;
}

.bloco:hover{
        box-shadow: 5px 5px black;
}

.subcaixasmat{
    border: 2px solid white;
    background-color: white;
    padding:3px;
    margin:3px;
    width: 130px;
    height: 20px;
    border-radius: 10px;
}

.subcaixascompar{
    border: 2px solid white;
    background-color: white;
    padding:3px;
    margin:3px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.subcaixasmat:hover{
    background-color: rgb(230, 227, 227);
    border: 2px solid  rgb(230, 227, 227);
}

.subcaixascompar:hover{
    background-color: rgb(230, 227, 227);
    border: 2px solid  rgb(230, 227, 227);
    width: fit-content;
}

.chk{
    width: 50px;
}

.comparar{
    color:white;
    font-size: large;
    font-size: 125%;
}

#bluninter,#bludemy,#bllivros{
    display: inline-block;
}

#operacao, #obterres{
    display: inline-block;
}